* {
  font-family: "Gowun Dodum", sans-serif;
}

.mytitle {
  width: 100%;
  height: 400px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2015/03/13/11/10/hall-of-fame-671538_1280.jpg");
  background-position: center;
  background-size: cover;
  /* background-color: gray; */
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-box {
  width: 100%;
  margin: 0px auto 0px auto;

  display: flex;
  /* flex-direction: row wrap; */
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-between;

  background-color: burlywood;
}

.card {
  border-radius: 10px;

  height: 800px;
  width: calc(33.33% - 10px);
  min-width: 270px;
  max-width: 270px;

  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;

  padding-top: 20px;

  overflow: visible;

  background-color: brown;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

.imageBox {
  height: 375px;

  overflow: hidden;

  background-color: black;

  display: flex;
  align-items: center;
}

.card-img-top {
  height: 375px;
  object-fit: contain;
  border-radius: 10px;
}

.card-body {
  margin-left: 15px;

  height: 1000px;

  position: relative;
}

.card-title {
  font-size: 23px;
  /* background-color: gray; */
  margin: 0px -5px 0 0;
}

.card-text {
  color: orange;

  height: 90%;
  max-height: 300px;

  white-space: normal;

  text-align: left;

  word-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.score {
  margin-bottom: 0;
}

.search {
  position: relative;

  width: 130px;

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  background-color: black(0.3);

  width: 40%;
  height: 100px;
  margin: 20px auto;

  border: 1px solid #bbb;
  border-radius: 30px;
}

.search > input {
  width: 80%;
  height: 40px;

  border: none;

  padding: 10px 12px;
  font-size: 20px;

  margin-left: 10px;
}

.searchButton {
  width: 150px;
  height: 50px;
  background-image: url("https://img.icons8.com/?size=1x&id=p8VkXMjDOpcE&format=png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  margin-left: -20px;

  border: 1px gold;
}

.searchButton:hover {
  cursor: pointer;

  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
